/* Google font */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
}
:root {
    --primary-color: #363636;
    --secondary-color: #4dbfd9;
    --pure: #fff;
}

/* Selection of cursor */
::selection {
    color: var(--primary-color);
}

html {
    background-color: var(--secondary-color);
}

/* The temp value */
h1 {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* The main app */
.app {
    /* width: 62.5rem; */
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 4.125rem;
    border-top: 40px solid var(--primary-color);
    border-radius: 0.5625rem;
    background: var(--pure);
    box-shadow: 1px 5px 13px 5px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}

/* The temperature */
.temp {
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 1.875rem;
    font-size: 10.9375rem;
}

ul li {
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin: 1rem;
}

/* All used class */
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s ease-in-out;
    padding-bottom: 1.5625rem;
    cursor: pointer;
}

.flex img {
    width: 12.5rem;
}

.flex span {
    margin-right: 12px;
}

/* Input component */
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}
/* Input text */
input {
    border: none;
    font-size: 1.875rem;
    width: 33%;
}

textarea:focus,
input:focus {
    outline: none;
}

/* Display  */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center p span {
    font-size: 0.875rem;
}

.small__span {
    font-size: 1.5rem;
}
/* Hover Effects */
span,
img {
    will-change: transform;
    transition: transform 450ms;
    cursor: pointer;
}

span:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}
img:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

.flex p {
    will-change: transform;
    transition: transform 450ms;
    cursor: pointer;
}

.flex p:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

/* Mobile Responsive */

@media only screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
    }

    .app {
        width: 80%; /* Adjust the width as needed */
        margin-bottom: 8.125rem;
    }
}

@media only screen and (max-width: 600px) {
    .temp {
        font-size: 6.9rem;
    }
}
